/*
style for splash screen
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0032ff;
}

.topleft{
  position:relative;
  right: 40;
  bottom: 20
}

.logo{
  width: 220px;
  height: 200px

}
.title{
 font-family: 'Staatliches', cursive;
  font-size: 70;
  position: relative;
  left: 230;
  bottom: 210;
  color: #ff9933
}
.right{
  position:relative;
  left: 560;
  bottom: 95
  
  
}
#countryballdefault{
  width: 200;
  position:relative;
  left: 250;
  bottom: 100 
}
#previous{
  width: 80;
  position:relative;
  left: 260;
  bottom: 143; 
}
#next{
  width: 80;
  position:relative;
  left: 245;
  bottom: 138; 
}
.primary{
  font-size: 30;
  position:relative;
  left: 350;
  bottom: 100;
  background-color: #ff9933;
  color: #0032ff;
  border: 0px;
}
#play{
  position:relative;
  left: 350;
  width: 180
}
.info{
  font-family: 'Staatliches', cursive;
  font-size: 30;
  position: absolute;
  color:#ff9933
  
}
.primary:hover{
  background-color: bisque;  
}
.stat{
    display: inline;
}
#howto:hover{
    cursor: help;
}
#play:hover{
    cursor: pointer;
}
#next:hover{
      cursor: pointer;
}
#previous:hover{
      cursor: pointer;
}
.groot{
    position: relative;
    font-family: 'Staatliches', cursive;
    font-size: 20;
    left: 30;
    top: 270;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
.gif {
  width: 240px;
  height: 200px;
  position: relative;
  left: 900px;
  bottom: 430px; 
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
/*
style for game screen
*/
