<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countryball Tavla</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/gamescreen.css" />
</head>
<body>
    <header>
        <div class="opponent">
           <!--
           <img src="/public/images/"<? first ?>" onclick="">
           -->
            <h5>PIPS: </h5>
        </div>
        <div class="center">
            <img src="" onclick="">
            <h5></h5>
        </div>
        <div class="user">
            <!--
            <img src="../public/images/<? second ?>" onclick="">
            -->     
            <h5>PIPS: </h5>
        </div>
    </header>
    <main>
        <section class="left">
            <section class="topleft">
                <div class="point2" id="1">
                    <img src="/images/point3.svg">
                    <div>
                        <img class="checker" src="" onclick="">
                    </div>
                </div>
                <div class="point1" id="2">
                    <img src="/images/point4.svg">
                    <div>
                    </div>
                </div>
                <div class="point2" id="3">
                    <img src="/images/point3.svg">
                    <div>
                    </div>
                </div>
                <div class="point1" id="4">
                    <img src="/images/point4.svg">
                    <div>
                    </div>
                </div>
                <div class="point2" id="5">
                    <img src="/images/point3.svg">
                    <div>
                    </div>
                </div>
                <div class="point1" id="6">
                    <img src="/images/point4.svg">
                    <div>
                    </div>
                </div>
            </section>
            <section class="bottomleft">
                <div class="point3" id="7">
                    <img src="/images/point2.svg">
                    <div>
                    </div>
                </div>
                <div class="point4" id="8">
                    <img src="/images/point1.svg">
                    <div>
                    </div>
                </div>
                <div class="point3" id="9">
                    <img src="/images/point2.svg">
                    <div>
                    </div>
                </div>
                <div class="point4" id="10">
                    <img src="/images/point1.svg">
                    <div>
                    </div>
                </div>
                <div class="point3" id="11">
                    <img src="/images/point2.svg">
                    <div>
                    </div>
                </div>
                <div class="point4" id="12">
                    <img src="/images/point1.svg">
                    <div>
                    </div>
                </div>
            </section>
        </section>
        <section class="right">
            <section class="topright">
                <div class="point2" id="13">
                    <img src="/images/point3.svg">
                    <div>
                    </div>
                </div>
                <div class="point1" id="14">
                    <img src="/images/point4.svg">
                    <div>
                    </div>
                </div>
                <div class="point2" id="15">
                    <img src="/images/point3.svg">
                    <div>
                    </div>
                </div>
                <div class="point1" id="16">
                    <img src="/images/point4.svg">
                    <div>
                    </div>
                </div>
                <div class="point2" id="17">
                    <img src="/images/point3.svg">
                    <div>
                    </div>
                </div>
                <div class="point1" id="18">
                    <img src="/images/point4.svg">
                    <div>
                    </div>
                </div>
            </section>
            <section class="bottomright">
                <div class="point3" id="19">
                    <img src="/images/point2.svg">
                    <div>
                    </div>
                </div>
                <div class="point4" id="20">
                    <img src="/images/point1.svg">
                    <div>
                    </div>
                </div>
                <div class="point3" id="21">
                    <img src="/images/point2.svg">
                    <div>
                    </div>
                </div>
                <div class="point4" id="22">
                    <img src="/images/point1.svg">
                    <div>
                    </div>
                </div>
                <div class="point3" id="23">
                    <img src="/images/point2.svg">
                    <div>
                    </div>
                </div>
                <div class="point4" id="24">
                    <img src="/images/point1.svg">
                    <div>
                    </div>
                </div>
            </section>
        </section>
        <section class="collected">
            <img src="">
            <div class="opponent">

            </div>
            <div class="user">
            </div>
        </section>
    </main>
    <div class="modal" id="talks">
        <% talks.forEach(function(talk){ %>
            <div class="talk" onclick="sendTalk(<%= talk.id %>)">
                <h3><%= talk.text %></h3>
            </div>
        <% }) %>
        <button type="submit" class="exit" name="exit">Exit</button>
    </div>
    <div class="modal" id="message">
    </div>
    <div class="modal" id="dice">
        <img src="" id="first" class="membrane">
        <img src="" id="second" class="membrane">
    </div>
</body>
</html>

