<!DOCTYPE <!DOCTYPE html>

<html>
<head>
    
    
    <title>Countryball Backgammon</title>
  
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <header id = "game information">
        <span id ="first info" class = "game info">PIPS for Player 1</span>
        <span id="second info" class="game info">Time</span>
        <span id="third info"  class="game info">PIPS for Player 2</span>
    </header>
    <main id = "backgammon board">
        <img src="" alt="The Backgammon Board">
        
    </main>
</body>
</html>