<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countryball Tavla</title>
</head>
<body>
    <header>
        <div class="opponent">
            <img src="" onclick="">
            <h5>PIPS: </h5>
        </div>
        <div class="center">
            <img src="" onclick="">
            <h5></h5>
        </div>
        <div class="user">
            <img src="" onclick="">
            <h5>PIPS: </h5>
        </div>
    </header>
    <main>
        <section class="left">
            <section class="top left point">
                <div class="point">
                    <img src="">
                    <div>
                        <img class="checker" src="" onclick="">
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
            <section class="bottom">
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
        </section>
        <section class="right">
            <section class="top">
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
            <section class="bottom">
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
        </section>
        <section class="collected">
            <img src="">
            <div class="opponent">

            </div>
            <div class="user">

                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div cdlass="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>