<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countryball Tavla</title>
</head>
<body>
    <header>
        <div class="opponent">
            <img src="../public/images/<% first %>" onclick="">
            <h5>PIPS: </h5>
        </div>
        <div class="center">
            <img src="" onclick="">
            <h5></h5>
        </div>
        <div class="user">
            <img src="../public/images/<? second ?>" onclick="">
            <h5>PIPS: </h5>
        </div>
    </header>
    <main>
        <section class="left">
            <section class="top left point">
                <div class="point">
                    <img src="">
                    <div>
                        <img class="checker" src="" onclick="">
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
            <section class="bottom">
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
        </section>
        <section class="right">
            <section class="top">
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
            <section class="bottom">
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </section>
        </section>
        <section class="collected">
            <img src="">
            <div class="opponent">

            </div>
            <div class="user">

                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div cdlass="point">
                    <img src="">
                    <div>
                    </div>
                </div>
                <div class="point">
                    <img src="">
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="modal" id="talks">
        <% talks.foreach(function(talk){ %>
            <div class="talk" onclick="sendTalk(<% talk.id %>)">
                <h3><% talk.text %></h3>
            </div>
        <% }) %>
        <button type="submit" class="exit" name="exit">Exit</button>
    </div>
    <div class="modal" id="message">
    </div>
    <div class="modal" id="dice">
        <img src="" id="first" class="membrane">
        <img src="" id="second" class="membrane">
    </div>
</body>
</html>