<div class="header">
    <h2>How to play Countryball Tavla</h2>
</div>
<div class="main">
    <p>
        gjhkplğş
        xdgfchjkolıh
    </p>
</div>
<div class="foot">
    <button class="exit" type="submit" name="exit">Exit</button>
</div>