<DOCTYPE! <!DOCTYPE html>
<html>
<head>
    
    <title>Countryball Backgammon</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>
    <section id="top left">
        <div id="decoration top left">
            <img src="../public/images/EarthCountryball.png" alt="The Earth Flag">
            <h1> <span class="title">Countryball Backgammon</span>
            </h1>          
        </div>
    </section>

    <section id = "left">
        <div id = "info brackets">
            <ul>
                <li> <span class="information">Number of continuing games</span> </li> 
                <li> <span class="information">Number of online users</span> </li>
                <li> <span class="information">Average waiting time</span> </li>
        </div>
    </section>

    <section id = "right">
        <div id = "choosing country">
            <form action="/leftselection" method="get">
             <button type="submit" class="choose" id="previous">previous</button>
            </form>
            <img src="<%= defaultImage %>" class="choose">
            <form action="/rightselection" method="get">
                <button type="submit" class="choose" id="next">next</button>
            </form>
        </div>
        <div id="play and how to play">
            <form action="/start" method="get">
                <button type="submit" class="primary" id="play">Play</button>
            </form>
            <form action="/howtoplay" method="get">
                <button type="submit" class="primary" id="howto">How To Play</button>
            </form>
        </div>
    </section>
    <div class="modal">
        <? modal ?>
    </div>
</body>
</html>