<DOCTYPE! <!DOCTYPE html>
<html>
<head>
    
    <title>Countryball Backgammon</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>
    <section id = "top left">
        <div id = "decoration top left">
            <img src= "../public/images/logo.jpg" alt="The Earth Flag">
            <h1> <span class = "title">Countryball Backgammon</span>
            </h1>          
        </div>
    </section>

    <section id = "left">
        <div id = "info brackets">
            <ul>
                <li> <span class="information">Number of continuing games</span> </li> 
                <li> <span class="information">Number of online users</span> </li>
                <li> <span class="information">Average waiting time</span> </li>
        </div>
    </section>

    <section id = "right">
        <div id = "choosing country">
            <form action="/leftselection" method="get">
             <button type="submit" class="choose">previous</button>
            </form>
            <form action="/rightselection" method="get">
                <button type="submit" class="choose">next</button>
            </form>
        </div>
        <div id = "play and how to play">
            <form action="/start" method="get">
                <span class="button2"><button type="submit">Play</button></span>
            </form>
            <form action="/howtoplay" method="get">
                <span class="button2"><button type="submit">How To Play</button></span>
            </form>
        </div>
    </section>
        
    
    

</body>
</html>