<DOCTYPE! html>
<html>
<head>
    
    <title>Countryball Backgammon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/redirect.js"></script>
    <script src="/javascripts/config.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
    
</head>
<body>
    <section class="topleft">
        <div>
            <img  src="/images/EarthCountryball.png" alt="The Earth Flag" class="logo">
            <h1> <span class="title">Countryball <br> Backgammon</span>
            </h1>          
        </div>
    </section>

    <section class = "info">
        <div >
            <ul>
                <li> <h2 class="stat"> <%= games %> &nbsp;</h2> <span>Number of continuing games</span> </li>
                <li> <h2 class="stat"> <%= users%> &nbsp;</h2><span>Number of online users</span> </li>
                <li> <h2 class="stat"> <%= avgWait%> &nbsp;</h2><span>Average waiting time</span> </li>
                <li> <h2 class="stat" id="comeback"> </h2><span>Times you have gotten here</span> </li>
        </div>
    </section>

    <section class = "right">
        <div class = "choosingcountry">
            
            <img src="/images/previoussign.svg" alt="Previous Sign" id="previous">
            <img id="countryballdefault"  src="<%= defaultImage %>" >
            <img src="/images/nextsign.svg" alt="Next Sign" id="next">
            
        </div>
        <div id="playandhowtoplay">
            <form action="/game" method="get">
                <button type="submit" class="primary" id="play" onclick="window.location.href='/game'">Play</button>
            </form>

            
            <form action="/howtoplay" method="get">
                <button type="submit" class="primary" id="howto">How To Play</button>
            </form>
        </div>
    </section>
    
    <div class="modal">
        <? modal ?>
    </div>
</body>
</html>